<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Song:</h3>
      <div class="form-group">
        <input class="form-control" type="text" id="song_lyrics" aria-describedby="song_lyrics"
          placeholder="What's your Favorite Song" #searchBox />
      </div>
      <div class="text-center">
        <button type="submit" id="main-btn" class="btn btn-success btn-md" (click)="searchMusic(searchBox.value)">
          Search
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center my-4">Song Details:</h3>
      <p>
        Track: {{music.trackCensoredName}}
      </p>
      <p>
        Artist: {{music.artistName}}
      </p>
      <p>
        Song: {{music.previewUrl}}
      </p>


    </div>
  </div>
</div>